
<div class="container mt-3 d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <!-- Input para el número de páginas -->
      <div class="input-group rounded">
        <button class="btn btn-outline p-1" (click)="openModal()">
          <img src="assets/img/icon.png" alt="Abrir Modal" style="width: 20px; height: 20px;">
        </button>
        <div class="d-flex align-items-center">
          <label for="numPages" class="mb-0 mr-2">Número de páginas:</label>
        </div>
        <input type="number" class="form-control rounded mr-2" id="numPages" name="numPages" [(ngModel)]="opcionesWeb.numeroDePaginas">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary rounded-left mr-2" type="button" (click)="sumarPagina()">+</button>
          <button class="btn btn-outline-secondary rounded-right" type="button" (click)="restarPagina()">-</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3 mt-md-0">
      <!-- Input para el número de idiomas -->
      <div class="input-group rounded">
        <button class="btn btn-outline p-1" (click)="openModaldos()">
          <img src="assets/img/icon.png" alt="Abrir Modal 2" style="width: 20px; height: 20px;">
        </button>
        <div class="d-flex align-items-center">
          <label for="numLanguages" class="mb-0">Número de idiomas:</label>
        </div>
        <input type="number" class="form-control rounded mr-2" id="numLanguages" name="numLanguages" [(ngModel)]="opcionesWeb.numeroDeIdiomas">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary rounded-left mr-2" type="button" (click)="sumarIdioma()">+</button>
          <button class="btn btn-outline-secondary rounded-right" type="button" (click)="restarIdioma()">-</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModaldos}" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Número de idiomas </h5>
      </div>
      <div class="modal-body">
        <p>Agrega el número de lenguajes que necesita la página, cada lenguaje vale 30€.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModaldos()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Número de páginas</h5>
      </div>
      <div class="modal-body">
        <p>Este es el número de páginas que necesita la web. Cada página vale 30€.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
